@import "../../index.scss";

.storeContainer {
  margin: 2rem;

  .stores {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 3rem;
    margin-top: 1rem;
  }

  .storeList {
    width: 100%;

    .shopImge,
    img {
      width: 15rem;
      height: 10rem;
      border-radius: 1rem;
    }

    .price {
      margin: 1rem 0;
    }

    .quantity {
      margin: 1rem 0;
    }

    .storeBtn {
      background: #356169;
      color: antiquewhite;
    }

    .insufficientFund {
      font-size: 1.2rem;
      margin-top: 0.5rem;
      background: #f5deb3;
      width: 17rem;
      padding-left: 5px;
    }
  }

  @media (min-width: #{$screen-sm-min}) and (max-width: #{$screen-md-min - 1px}) {
    .storeList {
      width: 45%;
    }
  }

  @media (min-width: #{$screen-lg-min}) {
    .storeList {
      width: 45%;
    }
  }
}
