.heroContainer {
  position: absolute;
  top: 0;
  background-image: url("../../assets/game.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;

  .cookie {
    width: 7rem;
    height: 7rem;
  }

  svg path:nth-child(1) {
    fill: #b48548;
  }
}
