.heroContainer {
  position: absolute;
  top: 0;
  background-image: url("../../assets/game.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;

  .heroText {
    width: 80%;
    height: 6rem;
    color: #f0f8ff;
    background: #169741;
    text-align: center;
    margin: 0.5rem auto;
    padding: 0.5rem;
    border-radius: 70px 0 20px 0;
  }

  .countContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
  }
  .cookie {
    width: 16.5rem;
    height: 16.5rem;
  }
  svg path:nth-child(1) {
    fill: #b48548;
  }

  .count {
    position: absolute;
    font-size: 1.6rem;
    color: #022a4c;
    font-weight: 800;
  }

  .btnContainer {
    display: flex;
    justify-content: space-evenly;
    margin-top: 1rem;

    .start {
      background: #169741;
      color: #f0f8ff;
    }

    .stop {
      background: #ff6347;
      color: #f0f8ff;
    }

    .reset {
      background: #b48548;
      color: #022a4c;
    }
  }
  .buy {
    width: 15rem;
    height: 4.5rem;
    border-radius: 3rem;
    background: radial-gradient(rgb(229, 231, 159), rgb(41, 101, 152) 70%);
    margin-top: 3.2rem;
    position: absolute;
    left: 18%;
    color: #eef4f8;
    font-size: 1.7rem;
  }
}
