@import "../../index.scss";

.btn {
  width: 6rem;
  height: 2.3rem;
  font-size: 1.2rem;
  border-radius: 0.7rem;
  border: none;
}

@media (min-width: #{$screen-lg-min}) {
  .btn {
    width: 8rem;
    height: 2.8rem;
    font-size: 1.5rem;
    cursor: pointer;
  }
}
