@import "../../index.scss";

@media (min-width: #{$screen-lg-min}) {
  .cookieAccept {
    position: fixed;
    bottom: 0;
    width: 40rem;
    height: 16rem;
    padding: 2rem;
    margin: auto 8rem;
    border: 1rem solid #07b5ff;
    background: #bdebff;
    border-radius: 2rem 0 3rem 0;

    .settingBtn {
      display: flex;
      justify-content: center;
      gap: 3rem;
      margin-top: 2rem;
      margin-bottom: 1rem;
    }

    .accept {
      background: #07b5ff;
    }

    .reject {
      background: #85a7b5;
    }
  }
}
